.loader{
  position: fixed;
  z-index: 4;
  background: #ffffffdb;
  width: 100%;
  height: 100%;
  min-height: 100vh;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  &__content{
    text-align: center;
  }
  &__svg{
    background: url('../../assets/img/loader.svg') no-repeat center / 60px;
    height: 100px;
    width: 110px;
  }
}