@import url('https://fonts.googleapis.com/css?family=Muli:300,300i,400,400i,600,600i,700,700i&display=swap');
@import "./normalize";
@import "./colors";
@import "./mixins";

body{
  font-family: 'Muli', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: $gray;
  color: $dark;

  .wrapper{
    max-width: 1240px;
    margin: 0 auto;
    padding: 0 20px;
  }

  .container{
    min-height: calc(100vh - 246px);
  }

  .posts-list{
    display: flex;
    flex-wrap: wrap;

    &__no-post{
      display: flex;
      align-items: center;
      flex-direction: column;
      margin: 60px 0;
      width: 100%;
    }

    &__no-post-text{
      font-size: 22px;
      margin-right: 20px;
      text-align: center;
    }
  }

  .button{
    @include bg-blue-gradient;
    padding: 20px 40px;
    border-radius: 50px;
    font-weight: 600;
    transition: all .2s ease-in-out;
    &:hover{
      @include shadow-blue;
    }
  }
}

@media screen and (max-width: 680px) {
  body{
    .posts-list{
      &__no-post-text{
        font-size: 20px;
        margin-right: 0;
      }
    }
  }
}