@import "../../assets/scss/colors";

.main-header{
  background: $white;
  padding: 20px;
  box-shadow: 0 0 10px #92929217;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  &__logo{
    background: url('../../assets/img/logo.svg') no-repeat center / 30px;
    height: 30px;
    width: 30px;
    display: block;
  }

  &__menu{
    display: flex;
    align-items: center;
  }

  &__menu-item{
    font-weight: 600;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    position: relative;
    font-size: 14px;
    &:hover{
      opacity: 0.9;
    }
    &:after{
      content: '';
      background: $blue;
      height: 0;
      width: 0;
      border-radius: 50%;
      left: 28px;
      bottom: -8px;
      position: absolute;
    }
  }

  &__menu-icon{
    margin-right: 10px;
  }

  &__user{
    display: flex;
    align-items: center;
    margin-left: 10px;
  }

  &__user-menu{
    margin-left: 5px;
    opacity: 0.5;
    cursor: pointer;
    &:hover{
      opacity: 0.7;
    }
  }
}

@media screen and (max-width: 480px) {
  .main-header{
    &__menu-item{
      font-size: 0;
      padding: 10px 15px;
    }   
    &__menu-icon{
      margin: 0;
    }
  } 
}