@import "../../assets/scss/colors";

.main-footer{
  padding: 40px 20px;
  .wrapper{
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  &__logo{
    margin-bottom: 20px;
  }
  &__by{
    font-size: 14px;
    text-align: center;
    line-height: 1.6;
    a{
      font-weight: 600;
      color: $blue;
    }
  }
}