@import "../../assets/scss/colors";

.post{
  color: $dark;
  background: $white;
  border-radius: 14px;
  padding: 40px;
  box-shadow: 0 0 10px #92929217;
  width: calc(33% - 40px);
  margin: 20px;

  &__name{
    font-size: 18px;
    margin: 10px 0;
    a{
      color: $dark;
    }
  }

  &__location,
  &__date{
    font-size: 12px;
    font-weight: 600;
    margin-bottom: 5px;
    color: $dark_gray;
  }

  &__text{
    font-size: 14px;
    line-height: 1.6;
    margin: 20px 0 0;
    a{
      color: $blue;
      font-weight: 600;
      text-decoration: none;
      &:hover{
        opacity: 0.8;
      }
    }
  }

  &__header{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__actions{
    display: flex;
  }
  &__action{
    height: 25px;
    width: 25px;
    cursor: pointer;
    transition: all .1s ease-in-out;
  }
  &__like{
    background: url('../../assets/img/like_dark.svg') no-repeat center / 18px;
    &[data-active='true']{
      background: url('../../assets/img/like_red.svg') no-repeat center / 18px;
    }
  }
  &__redirect{
    margin-left: 10px;
    background: url('../../assets/img/go_to_post.svg') no-repeat center / 16px;
  }
}

@media screen and (max-width: 980px){
  .post{
    width: calc(50% - 40px);
  }
}

@media screen and (max-width: 680px){
  .post{
    width: 100%;
    margin: 0px 0 20px;
  }
}